* {
	margin: 0;
	padding: 0;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	overflow: hidden;
}

body {
	background: url('img/noise.png'), -webkit-linear-gradient(top, #11131c, #363c5a);
	box-shadow: inset 0 10px 20px rgba(0,0,0,.2), inset 0 -20px 20px rgba(216,223,254,.05), inset 10px 0 30px rgba(0,0,0,.15), inset -10px 0 30px rgba(0,0,0,.15);
	
	font: 14px/24px Armata, sans-serif;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#cam {
	display: none;
}

.status {
	position: fixed;
	left: 50%;
	top: 25px;
	
	width: 15px;
	height: 21px;
	
	background: url('img/not-connected.png') no-repeat 0 0;
}
	.status.success {
		background-image: url('img/connected.png');
	}

#batteryProgress {
	position: fixed;
	right: 30px;
	top: 30px;
	
	width: 22px;
	height: 15px;
	
	padding: 4px 6px 4px 4px;
	
	background: url('img/battery.png');
}
	#batteryProgress .bar {
		display: block;
		height: 6px;
		
		background: #9b9ead;
		
		box-shadow: inset 0 1px 0 rgba(255,255,255,.2), inset 0 0 1px rgba(255,255,255,.8), inset 0 -1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.2);
	}